---
layout: pages
permalink: /news
---

<style>
  {% include news.css %}
</style>

<section class="blogs">
  {% for entry in site.data.blogs %}
  <figure class="thumbcon" style="background-image:url({{ entry.img }})">
   <div class="post-list-item">
      <div class="post-list-item-date">
         <time>{{ entry.date }}</time>
      </div>
      <div class="post-list-item-title">
         <a href="{{ entry.link }}">{{ entry.name }}</a>
      </div>
      <div class="post-list-item-desc">{{ entry.excerpt }}</div>
   </div>
   </figure>
   {% endfor %}
</section>