---
layout: pages
permalink: /blog
---

<style>
  {% include news.css %}
</style>

<section class="blogs">
   
  {% for entry in site.data.ps %}
  <article class="flexy">
      <div class="piccon" style="background-image:url({{ entry.img }})"></div>
      <div class="post-list-item">
      <div class="post-list-item-date">
         <time>{{ entry.date }}</time>
      </div>
      <div class="post-list-item-title">
         <a href="{{ entry.link }}">{{ entry.name }}</a>
      </div>
      <div class="post-list-item-desc">{{ entry.excerpt }}</div>
      </div>
   </article>
   {% endfor %}
   
</section>