---
layout: pages
title: "Oh Se Young"
permalink: /portfolio
---

<div class="container">

  {% for entry in site.data.portfolio %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  {% if thecycle == 'odd' %}
  <div class="timeline-block timeline-block-right">
  {% else %}
  <div class="timeline-block timeline-block-left">
  {% endif %}
     <div class="marker"></div>
     <div class="timeline-content">
      <p>{{ entry.year }}</p><sub><img class="channel" src="/static/logos/{{entry.channel}}.png"></sub>
        <h3>{{ entry.name }}</h3>
        <a href="{{ entry.link }}">
          <div class="thumbcon" style="background-image:url({{ entry.img }})"></div>
          </a>
        <p>      {{ entry.description }}    </p>
     </div>
    </div>
  {% endfor %}
    </div>


    <style>    /*{{ site.baseurl }}/assets/{{ entry.img }}*/
    
      {% include portfolio.css %}
    </style>
