a {
   text-decoration: none;
}

.flexy {
   display: flex;
}

.blogs  {
   background: #ffffff;
   overflow-x: visible;
   justify-content: center;
   overflow-y: hidden;
}
.post-list-item {
   margin: 4px 4px;
   overflow: hidden;
   padding: 1rem;
}
.post-list-item-date {
 font-size: 13.5px;
   margin: 0;
   line-height: 1;
   text-transform: capitalize;
   display: block;
   font-weight: 600;
   transition: background-color .15s ease-in-out;
   text-decoration: none;
   color: #000000;
}
.post-list-item-title {
   margin-bottom: 0.3rem;
   font-size: 1.8rem;
   font-weight: 600;
   line-height: 2.4rem;
}
.post-list-item-desc {
   color: #343a40;
   margin-bottom: 0.25rem;
   font-size: 1rem;
}