
 .container {
     padding: 0 0 50px 0;/*
     margin: 3rem auto;*/
     position: relative;
     overflow: hidden;
 }
 
 .container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    width: 4px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
 }
 
 .timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
 }
 
 .timeline-block-right {
    float: right;
 }
 
 .timeline-block-left {
    float: left;
    direction: rtl
 }
 .timeline-block span {
    color: #555;
    font-size: 1rem;
    padding: 0 8px;
 }
 .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #4FC1E9;
    margin-top: 10px;
    z-index: 9999
 }
 
 .timeline-content {
    width: 100%;
    padding: 0 15px;
    color: #666
 }
 
 .timeline-content h3 {
    margin-top: -8px;
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: 500
 }
 
 .timeline-content span {
    font-size: 15px;
    color: #a4a4a4;
 }
 
 .timeline-content p {
    font-size: 16px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
    font-weight: bold;
 }
 .channel {
   width: auto;
   height: 18px;
 }
 
 @media screen and (max-width: 768px) {
    
 .thumbcon {
     height: calc(46vw - 0px);
     width: 100%;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     border-radius: 16px;
     margin: 0.9rem 0;
 }
    .container:before {
       left: 12px;
       width: 2px;
    }
    .timeline-block {
       width: 95%;
       margin-bottom: 30px;
    }
    .timeline-block-right {
       float: none;
    }
    .timeline-block-left {
       float: none;
       direction: ltr;
    }
  
 .timeline-content {
    width: 95%;
 }
 .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #4FC1E9;
    margin-top: 10px;
    margin-left: 3px;
    z-index: 9999
 }
 }